@media screen and (max-width: 1000px) and (min-width: 750px) {
.slider{
    height:400px;
}
.image img{
    margin-top:40px;
    width:350px
}
.aside{
    margin-top:160px
}
.aside h1{
    line-height:1.2;
    font-size:33px
}

    /* ====================
   awesome
   ======================= */

.awesome{
    height: 400px;
}
.mobile img{
    margin-top:60px;
   width:300px
}
.apps h1{
    width:75%;
    font-size: 34px;
    line-height:1.2;
    margin-top:150px
}

.creations{
    width:100%;
    height: 550px;
}
.creationImg{
    width:50%;
    height:100%;
    float:left
}
.creationImg img{
    width:300px;
    margin-top: 47px
}
.creationH{
    width:48%;
}
.creationH h1{
    font-size:24px;
    margin-top:40px;
    margin-bottom:20px;
}
.creationH p{
    font-size:13px;
}
.creationH a{
    font-size: 16px;
}
    
    /* ====================
   Same section
   ======================= */
    
.sameSection{
    height:950px;
}
.sameContent{
    width:98%;
}
    .col-md-4{
        width:33%;
        float:left
    }
.col-md-8{
    width:50%;
    float:left
}
.col-md-8 h1{
    width:180px;
}
.col-md-8 p{
    width:325px;
    margin-top:25px;
}

.sameAdd{
    width:96%;
    height:70px;
}

.footNav{
    width:95%;
}

    
    
    
    
    
}
  /* =================================
       Responsive  760
   =========================== */
    @media only screen and (max-width:749px) {

.slider{
    height:480px;
}
 .one{
    background:url(../img/Slider/1st.jpg);
    background-size:auto;
    background-attachment:fixed;
}
.image{
    width:100%;
    height:57%;
    text-align:center;
}
.image img{
    float:none;
    margin-top:0px;
    width:340px;
    height:100%
}
.aside{
    width:100%;
    margin-top:0px;
     height:43%
}
.aside h1{
    font-size:31px;
    line-height:1.4;
}

     
 .awesome{
    height: 300px;
}
.mobile{
    float:right;
    height:100%;
    width:50%;
}
.mobile img{
    margin-top:50px;
    width:190px
}
.apps{
    width:50%;
    float:left;
}
.apps h1{
    width:90%;
    font-size: 22px;
    margin-top:100px
}
.apps a{
    font-size:14px;
    line-height:5
}
        

.creations{
    height: 600px;
}
.shadow h1{
    font-size:30px;
}
.creationImg{
    width:45%;
}
.creationImg img{
    width:170px;
    margin-top: 50px
}
.creationH{
    width:54%;
}
.creationH h1{
    font-size:21px;
    margin-top:20px;
    margin-bottom:8px;
}
.creationH p{
    font-size:13px;
}
.creationH a{
    font-size: 12px;
    line-height:5;
    padding:7px 15px;
}
        
 
        /* ====================
   Same section
   ======================= */
.sameSection{
    height:1350px;
}
.sameSection h1{
    font-size:30px;
    margin-top:40px
}
.row{
    margin-top:20px;
}
.mid{
  border-left:none;
    border-right:none;
}
.col-md-4 img{
    margin-top:20px
}
.col-md-4 h1{
    font-size:18px;
    margin-top:15px
}
.col-md-4 p{
    width:100%;
    margin-top:7px
}
hr{
   display:none;
}
.mar{
    margin-top:0px;
}
.bor{
    border-right:none;
}
.col-md-8{
    width:100%;
}
.col-md-8 h1{
   font-size:18px;
    margin-top:15px
}
.col-md-8 p{
    margin-top:7px;
    width:100%;
}
        .col-md-8 img{
            margin-top:30px
        }
        
        
   /* ====================
   approach section
   ======================= */
.approach{
    height:595px;
    overflow:hidden;
    width:100%;
    background:url(../img/approch.jpg);
    background-size:100% 100%;
    background-attachment: fixed
}
.appro h1{
    margin-top:30px;
}
.appro p{
    margin: 0 auto;
    margin-top:0px;
    width:90%
}
        
        
  /* ====================
conract section
   ======================= */

.contact{
    width:100%;
    height:850px;
    overflow:hidden;
    background:url(../img/contact.jpg);
    background-size:100% 100%;
}
.address{
    width:100%;
    margin-top:0px;
}
.sameAdd{
    float:left;
    width:100%;
    margin-top:10px;
    height:80px;
}
.sameAdd img{
    float:none;
    width:30px;
}
.sameAdd p{
    float:none;
    width:100%;
    text-align:left;
    margin-left:0px;
   margin-top:5px;
    text-align:center;
}
.Only{
   position:relative;
    top:0px
}
.formSite{
    width:100%;
    float:none;
    margin-top:10px;
    margin:0 auto
}
.fill{
    float:none;
    width:80%;
    margin:0 auto;
}
.fill label{
    width:100%;
}
/* ====================
   footer section
   ======================= */
.footer{
    width:100%;
    height:300px;
}
.footMenu{
    display:none
}
        
.footLogo{
    width:100%;
    height:10px;
    margin-top:50px
}
.policy{
   display:none;
}


   
        
        
    
    
}
  